In [1]:
import data_processing
#import os
#os.environ["MODIN_CPUS"] = "16"
#import ray
#ray.init()
#import modin.pandas as pd
#import modin.config as cfg
#print(cfg.NPartitions.get())
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import StandardScaler, Normalizer
from sklearn.decomposition import PCA, TruncatedSVD, NMF
from sklearn.model_selection import train_test_split

UserWarning: A NumPy version >=1.16.5 and <1.23.0 is required for this version of SciPy (detected version 1.24.4)

In [ ]:
data_processing.load_books()

In [4]:
data_processing.load_interactions()

UserWarning: Ray execution environment not yet initialized. Initializing...
To remove this warning, run the following python code before doing dataframe operations:

    import ray
    ray.init()

2024-04-15 01:29:12,425	INFO worker.py:1752 -- Started a local Ray instance.
(raylet) Error processing line 1 of /home/duffy.se/.local/lib/python3.8/site-packages/modin-autoimport-pandas.pth:
(raylet)
(raylet)   Traceback (most recent call last):
(raylet)     File "/shared/centos7/anaconda3/2021.05/lib/python3.8/site.py", line 169, in addpackage
(raylet)       exec(line)
(raylet)     File "<string>", line 1, in <module>
(raylet)     File "/home/duffy.se/.local/lib/python3.8/site-packages/pandas/__init__.py", line 16, in <module>
(raylet)       raise ImportError(
(raylet)   ImportError: Unable to import required dependencies:
(raylet)   pytz: No module named 'pytz'
(raylet) Remainder of file ignored
(raylet) Error processing line 1 of /home/duffy.se/.local/lib/python3.8/site-packages/modin-autoimport-pandas.pth:
(raylet)  [repeated 3x across cluster] (Ray deduplicates logs by default. Set RAY_DEDUP_LOGS=0 to disable log deduplication, or see https://docs.ray.io/en/master/ray-observability/ray-logging.html#log-deduplication for more options.)
(raylet)   Traceback (most recent call last):
(raylet)     File "/shared/centos7/anaconda3/2021.05/lib/python3.8/site.py", line 169, in addpackage
(raylet)       exec(line)
(raylet)     File "<string>", line 1, in <module>
(raylet)     File "/home/duffy.se/.local/lib/python3.8/site-packages/pandas/__init__.py", line 16, in <module>
(raylet)       raise ImportError(
(raylet)   ImportError: Unable to import required dependencies:
(raylet)   pytz: No module named 'pytz'
(raylet) Remainder of file ignored
(raylet) Error processing line 1 of /home/duffy.se/.local/lib/python3.8/site-packages/modin-autoimport-pandas.pth:
(raylet)   Traceback (most recent call last):
(raylet)     File "/shared/centos7/anaconda3/2021.05/lib/python3.8/site.py", line 169, in addpackage
(raylet)       exec(line)
(raylet)     File "<string>", line 1, in <module>
(raylet)     File "/home/duffy.se/.local/lib/python3.8/site-packages/pandas/__init__.py", line 16, in <module>
(raylet)       raise ImportError(
(raylet)   ImportError: Unable to import required dependencies:
(raylet)   pytz: No module named 'pytz'
(raylet) Remainder of file ignored
(raylet)  [repeated 2x across cluster]
(raylet) Error processing line 1 of /home/duffy.se/.local/lib/python3.8/site-packages/modin-autoimport-pandas.pth:
(raylet)   Traceback (most recent call last):
(raylet)     File "/shared/centos7/anaconda3/2021.05/lib/python3.8/site.py", line 169, in addpackage
(raylet)       exec(line)
(raylet)     File "<string>", line 1, in <module>
(raylet)     File "/home/duffy.se/.local/lib/python3.8/site-packages/pandas/__init__.py", line 16, in <module>
(raylet)       raise ImportError(
(raylet)   ImportError: Unable to import required dependencies:
(raylet)   pytz: No module named 'pytz'
(raylet) Remainder of file ignored
(raylet)  [repeated 2x across cluster]

In [5]:
ratings_df = pd.read_csv('data/ratings.csv')

In [6]:
ratings_df.head()

,user_id,19,43,49,51,66,80,100,126,134,...,32624,38819,39042,42643,42701,42703,42704,42705,47273,51259
0,0,0.0,0.0,0.0,0.0,0.0,0.0,3.0,5.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,NaN,NaN,NaN,3.0,3.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN